/.Rproj.user
/.Rhistory
/.RData
*.o
*.so
*.dll
/eventloop.creator.user*
*.swp
src/httpuv.config
src/httpuv.creator
src/httpuv.creator.user
src/httpuv.files
src/httpuv.includes
.Rproj.user
CRAN-RELEASE
httpuv_*.tar.gz
src/Makevars
configure.log
.vscode
*.orig
docs
