export(WebSocket)
export(interrupt)
export(rawToBase64)
export(runServer)
export(service)
export(startPipeServer)
export(startServer)
export(stopServer)
import(methods)
importFrom(Rcpp,evalCpp)
useDynLib(httpuv)
