export(WebSocket)
export(interrupt)
export(runServer)
export(service)
export(startDaemonizedServer)
export(startPipeServer)
export(startServer)
export(stopDaemonizedServer)
export(stopServer)
useDynLib(httpuv)
