export(interrupt)
export(rawToBase64)
export(runServer)
export(service)
export(startDaemonizedServer)
export(startPipeServer)
export(startServer)
export(stopDaemonizedServer)
export(stopServer)
import(methods)
importFrom(Rcpp,evalCpp)
export(WebSocket)
useDynLib(httpuv)
